/*
  design system


  --- 01 Typography system 

  --Spacing system (px)
  2/4/8/12/16/24/32/52/48/64/80/96/128

  --Font size system(px)
  10/12/14/16/18/20/24/30/36/44/62/74/86/98

  --line heights:
  Default: 1
   small: 1.05
   mid: 1.2
   large:1.8
   paragraph default: 1.6


  --font weights
   Default: 400
   Med: 500
   semi-bold: 600
   bold:  700


 ---02  colors
  Primary : #406c68

 light: #a0b6b4, #e8eeed
 dark:  #26413e
 
 Accents:
 Grays
  #555
  #333

 --- 05 shadows

 ---06 border-radius
   Default: 9px
 
 ---07 whitespace
 

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /*font-size: 8px;
   8px/16px = 0.5 = 50%
  */
  font-size: 50%;
  overflow-x: hidden;
}

body {
  font-family: "open Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

/*******************/
/* General reuseable components*/
/****************/

.container {
  max-width: 140rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #333;
  letter-spacing: -0.5px;
  font-weight: 700;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  color: #cf711f;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #017ab2;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: background-color 1s;
  cursor: pointer;
  border: none;
  font-family: inherit;
  background-color: #ea5e38;
}

.btn:hover,
.btn:active {
  background-color: #bb4b2d;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #003147;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.7s;
}

.link:hover,
.link:active {
  color: #003147;
  border-bottom: 1px solid transparent;
}
.margin-right-sm {
  margin-right: 2rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}
strong {
  font-weight: 600;
}

.lists {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.alert {
  padding: 1rem;
  margin: 1rem 0;
  opacity: 0.9;
  background-color: #017ab2;
  color: #333;
}

.alert-primary {
  background-color: #017ab2;
  color: #d9e2e1;
}

.alert-light{
  background-color: yellow;
  color: #555;
}

.alert-danger{
  background-color: #bb4b2d;
  color: wheat;
  font-size: 2rem;
  width: 50%;
}

.alert-success{
  background-color: green;
  color: #fff;
  font-size: 2rem;
  width: 50%;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}