.project-container {
  min-height: 60vh;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-container img {
  width: 25%;
  border-radius: 50%;
}

.project-container h2 {
  padding: 3rem 1rem 1rem 1rem;
  font-size: 3rem;
}

.project-container h3 {
  font-size: 2rem;
}

.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 40rem;
  height: 100%;
  background-color: #e8eeed;
  box-shadow: 2px 2px 50px #26413e;
  overflow-y: scroll;
}

.library h2 {
  text-align: center;
  padding: 1rem;
}
.library img {
  width: 30%;
}

.library-list {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 1rem 2rem;
  cursor: pointer;
}

.selected {
  background-color: #26413e;
  color: #e8eeed;
}
.library-list:hover {
  background-color: #a0b6b4;
}
.library-list .img {
  width: 10rem;
  height: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.library-description {
  padding: 1rem;
}

.library-description h3 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.library-description h4 {
  font-size: 1rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #26413e;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #26413e;
  border-radius: 60px;
  border: transparent;
}
