.testimonials-container {
  display: flex;
  height: 30rem;
  position: relative;
}

.carousel {
  width: 40%;
  margin: 0 auto;
  background-color: #d1d6d5;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8%;
  position: relative;
  transform: translate(100vw, -50%);
  transition: all 1s ease;
  position: absolute;
  left: 50%;
  top: 50%;
}

.carousel-active {
  transform: translate(-50%, -50%);
}

.testimonial-img {
  width: 20%;
  transform: scale(1.5);
  box-shadow: 5px 5px 2px #aaaaaa;
}

.testimonial {
  width: 50%;
}

.testimonial-quot {
  font-size: 15px;
}

.testimonial-text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.5;
  margin-bottom: 20px;
}

.testimonial-name {
  color: #aaaaaa;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.dots {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.dot {
  height: 2rem;
  width: 2rem;
  background-color: #ea5e38;
  border-radius: 50%;
  border: none;
}

.dot-white {
  background-color: white;
  border: 1px solid #ea5e38;
}
