.profile-carousel {
  width: 60%;
  margin: 100px auto;
  background-color: #e8eeed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.profile-img {
  width: 15%;
  transform: scale(1.5);
  box-shadow: 5px 5px 2px #aaaaaa;
}
.btn-profile {
  transform: translate(0, -50%);
  background-color: #ea5e38;
  position: absolute;
  color: aliceblue;
  width: 5%;
  height: 50%;
  border: none;
  border-radius: 50%;
}

.btn-left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.profile-icon {
  font-size: large;
}

.dots{
    display: flex;
    gap: 2rem;
    position: absolute;
    left: 60%;
    bottom: -30%;
    transform: translate(-60%,70%);
}

.dot{
    height: 2rem;
    width: 2rem;
    background-color: #ea5e38;
    border-radius: 50%;
}

.dot-white{
    background-color: white;
    border: 1px solid #ea5e38;
}