/*Spacing system (px)
2/4/8/12/16/24/32/52/48/64/80/96/128 */

.profile-container {
  grid-template-columns: 3fr 1fr;
  align-items: start;
  margin: 2.4rem;
}

.profile-header {
  grid-column: 1 / span 2;
  font-size: 4rem;
  text-align: center;
}

.profile-article {
  background-color: #4a8f87;
}

.profile-item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: auto 1fr auto;
  row-gap: 2.4rem;
  align-items: center;
  padding-top: 2rem;
  font-size: 2.4rem;
  text-align: center;
  padding: 12px;
  color: gray;
}

.open {
  border-top: 8px solid #4a8f87;
  color: #4a8f87;
}

.profile-hidden-box {
  grid-column: 2;
  margin: 2rem auto;
}

.profile-hidden-box p {
  line-height: 1.6rem;
  font-size: 2.8rem;
  margin-bottom: 1rem;
  color: gray;
}

.profile-hidden-box ul {
  color: gray;
  display: flex;
  gap: 12px;
  list-style-type: none;
}
