.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 40rem;
    height: 100%;
    background-color: #e8eeed;
    box-shadow: 2px 2px 50px #26413e;
    overflow-y: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
  }

  
  
  .library h2 {
    text-align: center;
    padding: 1rem;
  }
  .library img {
    width: 30%;
  }
  
  .library-list {
    display: flex;
    align-items: center;
    padding: 1rem 1rem 1rem 2rem;
    cursor: pointer;
  }
  
  .selected{
      background-color: #26413e;
      color: #e8eeed;
  }

  .active-library{
    transform: translateX(0%);
    opacity: 1;
}

  .library-list:hover {
    background-color: #a0b6b4;
  }
  .library-list img {
    width: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .library-description {
    padding: 1rem;
  }
  
  .library-description h3 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }
  
  .library-description h4 {
    font-size: 1rem;
  }
  
  * {
    scrollbar-width: thin;
    scrollbar-color: #26413e;
  }
  
  *::-webkit-scrollbar {
    width: 5px;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #26413e;
    border-radius: 60px;
    border: transparent;
  }
  